body {
  background-color: #4dbd76;
  background: rgb(77, 189, 118);
  background: radial-gradient(
    circle,
    rgba(77, 189, 118, 1) 0%,
    rgba(60, 136, 143, 1) 100%
  );
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.option.focused {
    font-weight: bolder;
    font-size: 120%;
    border:blue;
}